__pycache__/
*.py[cod]
*.class

# Virtual environments
.venv/
venv/
env/
ENV/

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/

# Environment config
.env

# Notebook junk
.ipynb_checkpoints/

# MacOS
.DS_Store

# Logs
*.log

# Windows system
Thumbs.db
